[submodule "solowej/submodules/gorynych"]
	path = solowej/submodules/gorynych/gorynych
	url = https://github.com/zz-systems/gorynych.git
[submodule "solowej/submodules/CImg"]
	path = solowej/submodules/CImg/CImg
	url = https://github.com/dtschump/CImg.git
[submodule "solowej/submodules/json"]
	path = solowej/submodules/json/json
	url = https://github.com/nlohmann/json.git
[submodule "solowej/submodules/Catch"]
	path = solowej/submodules/Catch/Catch
	url = https://github.com/philsquared/Catch.git
